.emp_box {
    width: 80%;
}
.emp_box2 {
    width: 80%;
    padding-top: 20px;
}

@media only screen and (max-width: 799px) {
    .emp_box {
        width: 100%;
    }
    .emp_box2 {
        width: 100%;
        padding-top: 60px;
    }
    #container{
        padding-top: 60px;
    }
}
