* {
    box-sizing: border-box;
  }
  
  #container{
    margin: 100px 20px;
    text-align: left;
    position: relative;
    font-weight: bold;

  }
  
  .widget{
      background-color: #fff;
      font: 11pt Georgia,Times,serif;
      color: #333;
      padding: 7px;
      /*margin: 20px;*/
      width: 100%;
    
  }
  
      .widget ul{
          list-style-position: inside;
      }
  
  .widget h5{
      font-size: 14pt;
      margin: 5px;
  }
  
  .new-widget{
      margin: 0px;
  
  
      border: 1px solid #ddd;
    border-top: 0;
      background-color: #fff;
      /*padding: 7px;*/
      width: 100%;
      clear: both;
  }
      .new-widget ul{
          display: none;
      }
  
  .tab-wrapper{
  
   /*  margin-left: 1px; */
    
    width: 1000px;
    padding: 0;
   /*  height: 0px; */
    
  
   
   /*  background: #1abc9c;  */
  
  
  }
  
  
  .tab{
   /* width: 100px;*/
    padding: 8px 10px;
    margin-right: 5px;
    font-size: 0.9em;
  /*   border: 1px solid red; */
      border-radius: 10px 10px 0 0;
    /* height: 33px; */
      float: left;
      background: #eee;
      text-transform: capitalize;
      color: #333;
      text-align: center;
      /* line-height: 2.0em; */
      cursor: pointer;
      list-style: none!important;
    transition: all 200ms;
  /*   border-right: 0.125rem solid #16a085; */
      border-top: 1px solid #ddd;
      border-right: 1px solid #ddd;
      border-left: 1px solid #ddd;
  
  
  }
  
  .tab:hover {
    background:#1aa1ff;

    color: #fff;
  }
  
  .active-tab{
    background: #1aa1ff;
    color: #fff;
  }
  
  .tab-content {
    padding: 0 0;
  }
  
  /* TABLE STYLING */
  
  .group-table caption {
    background:#1aa1ff;
    color: #fff;
    padding: 8px;
    font-size: 1.4em;
    font-weight: bold;
  }
  
  .group-table {
      border-top: 1px solid #ddd;	
      width:100%;
      border:1px solid #ddd;
  /* 	  border-top: none;	 */
      border-collapse:collapse;
      padding:5px;
      text-align: center;
      }
      .group-table th {
      /* 	border:1px solid #ddd;
      border-top: none; */
      padding: 10px 5px;
      font-weight: normal;
      background:#1aa1ff;
      color: #fff;
      font-weight: bold;
      }
      .group-table td {
      /* 	border:1px solid #ddd; */
          padding:10px 2px;
      }
  
  td:nth-child(3) {
      /* min-width: 90px; */
  }
  
  .group-table th, .group-table td {
    border-right: 1px solid #ddd;
  }
  
  .group-table th:last-child, .group-table td:last-child {
    border-right: none;
  }
  
  .group-table tr:nth-child(odd) {
    background: #f0f0f0;
  }
  
  #morning .group-table td:nth-child(3) {
    background: #fff;
  }
  
  .group-table td.align-bottom {
    vertical-align: bottom;
    padding: 0;
  }
  
  .group-table td.align-top {
    vertical-align: top;
    padding: 0;  
  }
  
  #morning .group-table td:nth-child(3), #afternoon .group-table td:nth-child(3), #evening .group-table td:nth-child(3) {
    background: #fff;
  } 
  
  #weekend .group-table td:nth-child(2) {
    background: #fff;
  }

  .newemp{
    width: 80%;
  }
  .empbtn{
    width: 11%;
  }
  .emptext{
    width: 10%;
  }

  

  /* 完成シフト閲覧のテーブル */
  
  .month_table caption {
    background:#1aa1ff;
    color: #fff;
    padding: 4px;
    font-size: 1.4em;
    font-weight: bold;
  }
  
  .compshift_table {
      border-top: 1px solid #ddd;	
      width: 3000px;;
      height: auto;
      border:1px solid #ddd;
  /* 	  border-top: none;	 */
      border-collapse:collapse;
      padding:5px;
      text-align: center;
      }
      .compshift_table th {
      /* 	border:1px solid #ddd;
      border-top: none; */
      padding: 10px 5px;
      font-weight: normal;
      font-weight: bold;
      }
      .compshift_table td {
      /* 	border:1px solid #ddd; */
          padding:10px 2px;
      }
  
  
  .compshift_table th, .compshift_table td {
    border-right: 1px solid #ddd;
  }
  
  .compshift_table th:last-child, .compshift_table td:last-child {
    border-right: none;
  }
  
  .compshift_table tr:nth-child(odd) {
    background: #f0f0f0;
  }
  
  #morning .compshift_table td:nth-child(3) {
    background: #fff;
  }
  
  .compshift_table td.align-bottom {
    vertical-align: bottom;
    padding: 0;
  }
  
  .compshift_table td.align-top {
    vertical-align: top;
    padding: 0;  
  }
  
  #morning .compshift_table td:nth-child(3), #afternoon .compshift_table td:nth-child(3), #evening .compshift_table td:nth-child(3) {
    background: #fff;
  } 

.scrollbox {
    width: auto;                
    height: auto;               
    border: 1px solid #000;      /* 枠にボーダーを引く */
    overflow-x: scroll;          /* 横方向にスクロール可能にする */
}


.holiday {
  background-color: #efd54f;      /* 祝日の色(thead) */
}

.saturday {
  background-color: #1aa1ff;      /* 土曜日の色(thead) */
}

.sunday {
  background-color: #f4255f;      /* 日曜日の色(thead) */
}

.empcolor {
  background-color: #86f09d;      /* 従業員の名前の色(name) */
}

.partcolor {
  background-color: #82ecec;      /* アルバイトの色(name) */
}

.loginrow {
  background-color: #ab4de9;      /* ログイン中の人の行の色 */
}

.gusurow {
  background-color: #e9e9e9;      /* 偶然行の色 */
}

.kisurow {
  background-color: #ffffff;      /* 奇数行の色 */
}