/* table {
    margin: auto;

} */

h2 {
    font-family: Yu Gothic;
    text-align: center;
    color: rebeccapurple;
    font-size: 1.2vw;
    margin-top: 30px;
    transition: 0.3s;
}

.sharetitle {
    font-family: Yu Gothic;
    text-align: center;
    color: rebeccapurple;
    font-size: 1.2vw;
    margin-top: 130px;
    transition: 0.3s;

}

button {
    font-family: Yu Gothic;
    font-weight: bold;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    margin: 1em 0;
    padding: 0.6em 1em;
    font-size: 1vw;
    background-color: #1aa1ff;
    color: #FFF;
    cursor: pointer;
    border-radius: 3px;
    border: 0;
    transition: 0.3s;

}

button:hover {
    background-color: #064fda;

}



.backButton {
    font-family: Yu Gothic;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    margin: 100 30 50 66;
    padding: 0.7em 1em;
    font-size: 1.1vw;
    background-color: #1aa1ff;
    color: #FFF;
    cursor: pointer;
    border-radius: 3px;
    border: 0;
    text-align: left;
    display: block;
    transition: 0.3s;
}

.backButton:hover {
    background-color: #FFC40C;

}

h3 {
    font-family: Yu Gothic;
}

.detailButton {
    background-color: #1aa1ff;
    margin-bottom: 20px;
    color: #FFF;
    display: inline-block;
    padding: 0.7em 1em;
    font-size: 1.1vw;
    border-radius: 3px;
    text-align: center;
    font-family: Yu Gothic;
    font-weight: bold;
    transition: 0.3s;
}

.detailButton:hover {
    background-color: rebeccapurple;
}


.passViewButton {
    background-color: #1aa1ff;
    margin-bottom: 20px;
    color: #FFF;
    display: inline-block;
    padding: 0.7em 1em;
    font-size: 1.1vw;
    border-radius: 3px;
    text-align: center;
    font-family: Yu Gothic;
    font-weight: bold;
    transition: 0.3s;
}

.passViewButton:hover {
    background-color: rebeccapurple;
}

.deleteButton {
    background-color: red;
    margin: 5;
    color: #FFF;
    display: inline-block;
    padding: 0.4em 1em;
    font-size: 1.1vw;
    border-radius: 3px;
    text-align: center;
    font-family: Yu Gothic;
    font-weight: bold;
    transition: 0.3s;
    width: 80%;
}

.deleteButton:hover {
    background-color: rgb(255, 53, 53);
    color: black;
}

.updateButton {
    background-color: #1aa1ff;
    margin: 5;
    color: #FFF;
    display: inline-block;
    padding: 0.4em 1em;
    font-size: 1.1vw;
    border-radius: 3px;
    text-align: center;
    font-family: Yu Gothic;
    font-weight: bold;
    transition: 0.3s;
}

.updateButton:hover {
    background-color: rgb(255, 136, 0);
}

.underTd {
    margin-bottom: 50px;
}

a {
    text-decoration: none;
}

td {
    margin-bottom: 70px;
}

.noticeButton {
    background-color: #1aa1ff;
    margin: 5;
    color: #FFF;
    display: inline-block;
    padding: 0.4em 1em;
    font-size: 0.8em;
    border-radius: 3px;
    text-align: center;
    font-family: Yu Gothic;
    font-weight: bold;
    transition: 0.3s;
    white-space: nowrap;
}

.noticeButton:hover {
    background-color: rgb(47, 255, 0);
}

form {
    margin-bottom: 0px;
}

.noticeManagementmessage {
    width: 200px;
}

.notiday {
    font-size: 14px;
    position: absolute;
    margin-left: -26.5px;
    margin-top: -10px;
}




table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: Yu Gothic;
    font-size: 1.2vw;
    transition: 0.3s;
}

table th,
table td {
    padding: 10px 0;
    text-align: center;
    font-family: Yu Gothic;
    font-size: 1.2vw;
    transition: 0.3s;
}

table tr:nth-child(odd) {
    background-color: rgb(206, 216, 223)
}

th {
    background-color: #ffffff;
}

.box {
    height: 1.2vw;
    width: 10vw;
    border-radius: 4px;
    transform: 2;
    outline: none;
}

.box:focus {
    border-color: #000;
    background-color: #ffc;
    outline: none;

}

::placeholder {
    color: #222120;
    font-family: Yu Gothic;
    font-weight: bold;
}

.registerButton {
    background-color: #1aa1ff;
    width: auto;
    margin: 5;
    color: #FFF;
    display: inline-block;
    padding: 0.5em 1em;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.4em;
    border-radius: 3px;
    text-align: left;
    font-family: Yu Gothic;
    font-weight: bold;
    transition: 0.3s;
    white-space: nowrap;
}

.registerButton:hover {
    background-color: rgb(100, 219, 255);
}

.label-title {
    margin: 60 20 20 20;
    font-size: 1.4em;
}

.attention {
    padding-bottom: 60px;
    border-bottom: 5px solid #999999;
}

.inputText {
    padding: 10 10 10 10 ;
}