.blandWrapper {
  height: 100%;
  width: 100%;
  border-bottom: 4px solid;
  margin-bottom: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 0px;
}

.menuHeaderWrapper {
  width: auto;
  display: inline;
  text-align: center;
}

.menuItem {
  margin-right: 20px;
  margin-left: 20px;
}