.blandWrapper {
  height: 100%;
  width: 100%;
  border-bottom: 4px solid;
  margin-bottom: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 0px;
}

ul {
  display: flex;
}

.navWrapper {
  list-style: none;
}


.menuItem {
  margin-left: 20px;
  margin-right: 20px;
}