.shiftcomp,
.shiftcomp_kudo{
    width: 170vw;
}

.shiftsub_kudo {
    width: 164.5vw;
}

.shiftset_kudo {
    width: 110vw;
}

.nameview {
    width: 50;
}

.gusu,
.kisu {
    width: 70;
    font-weight: 100;
}

.setkisu {
    background-color: rgb(182, 243, 255);
}

.thname,
.nameview,
.headgusu,
.headkisu {
    border: 1px solid;
}

.thname {
    background-color: #fff;
}

.headkisu {
    background-color: rgb(182, 243, 255);
}

.gusu {
    border: 1px solid;
    border-color: #000;
    font-weight: bold;
}

.kisu {
    background-color: rgb(182, 243, 255);
    border: 1px solid;
    border-color: #000;
    font-weight: bold;
}

.shiftcomp,
.shiftcomp_kudo,
.shiftsub_kudo,
.shiftset_kudo {
    border: solid;
    border-collapse: separate;
    border-spacing: 0;
    text-align: center;
    font-family: Yu Gothic;
    font-weight: bold;
}

.hleft {
    margin-right: -5px;
}

.shiftset_kudo th,
.shiftset_kudo td {
    border-color: #000;
}

h2 {
    margin-top: 0;
}
