.subcompempname {
    background-color: aqua;
}

.subcomppartname {
    background-color: rgb(241, 144, 0);
}

.notsubempname {
    background-color: aqua;
}

.notsubpartname {
    background-color: rgb(241, 144, 0);
}