body {
    margin: 0;
}

.overlay-navigation {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.navigation_ui {
    padding: 0;
    margin: 0;
}
.navigation_li1 {
    position: relative;
    float: left;
    height: 100%;
    width: calc(100% / 3);
    list-style: none;
    text-align: center;
    background-color:#fff;
    font-size: 20px;
}
.navigation_li2 {
    position: relative;
    float: left;
    height: 100%;
    width: calc(100% / 3);
    list-style: none;
    text-align: center;
    background-color: #ccc;
    font-size: 20px;
}
.navigation_li3 {
    position: relative;
    float: right;
    height: 100%;
    width: calc(100% / 3);
    list-style: none;
    text-align: center;
    background-color:#999;
    font-size: 20px;
}

.workstarttime,
.workendtime,
.submissionlimit {
    font-size: 20px;
    vertical-align: top;
}

.vote {
    transform: scale(1.5);
}

.nav_work1 {
    position: relative;
    top: 37%;
    color: #000;
    font-family: Yu Gothic;
    font-weight: bold;
  }

.nav_work2 {
    position: relative;
    top: 37%;
    color: #000;
    font-family: Yu Gothic;
    font-weight: bold;
}

.nav_work3 {
    position: relative;
    top: 37%;
    color: #000;
    font-family: Yu Gothic;
    font-weight: bold;
}


*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.bi {
    position: relative;
    bottom: -60%;
    right: -30%;
    font-family: Yu Gothic;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
}

.hide_vote {
    display: none;
    cursor: pointer;
}

