.loader-bg {
    align-items: center;
    background:radial-gradient(#5976b6, #4467ad);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 9999;
  }
  
  .loader img {
    height: auto;
    width: 200px;
  }
  
  .wrap {
    text-align: center;
  }
  
  .content {
    background-color: #c1ff84;
    display: inline-block;
    font-size: 20px;
    margin-top: 100px;
    padding: 30px;
  }