.brandWrapper {
    height: auto;
    width: 100%;
    border-bottom: 4px solid;
    margin-bottom: 0px;
    padding-top: 25px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;

}

a {
    text-decoration: none;
    color: black;
}

.brand {
    font-family: Yu Gothic;
    font-size: 3.4vw;

}

.titleName {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 140px;
    margin-right: 90px;
    margin-left: 90px;
    font-family: Yu-Gothic;
    font-size: 3.1vw;
    font-weight: bold;
}

.buttonArea {
    text-align: center;
    display: inline-block;
    height: auto;
    width: 100%;
}

.title {
    border-bottom: solid 5px yellow;

}

.loginButton {
    background-color: rgb(255, 252, 45);
    margin-bottom: 50px;
    display: inline-block;
    padding: 20px 70;
    border-radius: 40px;
    box-shadow: 1px 6px 4px silver;
    text-align: center;
    font-family: Yu Gothic;
    font-weight: bold;
}



.loginButton:hover {

    color: white;
    background-color: rgb(255, 215, 35);
    width: 11%;

}

.loginButton:active {
    box-shadow: none;
    margin-top: 5px;
}



.registerButton {
    background-color: 1EA69C;
    margin-bottom: 50px;
    display: inline-block;
    padding: 20px 70;
    border-radius: 40px;
    box-shadow: 1px 6px 4px silver;
    font-family: Yu Gothic;
    font-weight: bold;
}

.registerButton:hover {

    color: white;
    background-color: rgb(0, 139, 148);
    width: 15%;
}

.registerButton:active {
    box-shadow: none;
    margin-top: 5px;
}